[Unit]
Description=Using GPIO26

[Service]
ExecStart=/usr/bin/gpio26.sh start
ExecStop=/usr/bin/gpio26.sh stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
